@import "tailwindcss";

.navbar-main {
  @apply bg-black text-white h-19 flex flex-row items-center gap-2.5 px-4 fixed top-0 left-0 right-0 z-50;
}

.navbar-brand-con {
  @apply flex items-center gap-1.5 ml-10 pr-6;
}

.navbar-brand-icon {
  @apply hover:opacity-80 transition-opacity duration-200 cursor-pointer active:opacity-30;
}

.navbar-brand-title {
  @apply text-lg font-bold hover:text-white transition-colors duration-200 cursor-pointer;
  @apply active:opacity-30;
}

.navbar-links-con {
  @apply flex items-center gap-4.5 font-semibold text-gray-300;
}

.navbar-links {
  @apply hover:text-white transition-colors duration-200 cursor-pointer active:opacity-30;
}

.navbar-space-con {
  @apply w-[450px];
}

.navbar-search-con, .navbar-user-con {
  @apply flex items-center;
}

.navbar-search {
  @apply flex items-center gap-2.5 rounded-lg px-3 py-1.5 border border-gray-500;
  @apply text-sm text-gray-300 w-full;
}

.navbar-user {
  @apply flex items-center gap-2.5 rounded-lg px-3 py-2 bg-black border-1 border-white;
  @apply hover:bg-gray-900 transition-colors duration-200 cursor-pointer;
  @apply text-sm text-gray-300 active:opacity-30;
}

.navbar-search-icon, .navbar-user-icon, .landing-button-icon , .landing-button-icon-, .featured-game-about {
  @apply w-5 h-5 text-gray-500;
}

.navbar-search-input {
  @apply focus:outline-none w-full bg-transparent text-gray-300 placeholder-gray-500;
  @apply w-50;
}

.navbar-user-con {
  @apply mr-10 pr-6;
}

.navbar-user-name {
  @apply text-gray-300 font-semibold text-sm;
}

/* Home Page Styles */
.home-landing-image {
  @apply w-full h-[600px] bg-cover bg-center shadow-2xl relative;
  background-image: url('../assets/landingBg.jpg');
  position: relative;
  overflow: hidden;
}

.home-landing-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(28, 37, 65, 0.7);
  z-index: 1;
}

.home-landing-con {
  @apply absolute inset-0 flex flex-col items-start justify-center z-10 pt-0 mx-20 -mt-10 shadow-2xl;
}

.landing-title {
  @apply text-6xl font-bold text-white mb-4;
}

.landing-title-span {
  background: #3F5EFB;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Ang max-w-2xl ay isang Tailwind CSS utility class na ginagamit para i-set ang maximum width ng isang element. */
/* Ang ibig sabihin ng max-w-2xl ay ang maximum width ay 672px. */
.landing-text {
  @apply text-lg text-gray-300 mb-8 max-w-2xl;
}

.landing-buttons-con {
  @apply flex  items-center gap-4;
}

.landing-button-explore-list {
   @apply flex items-center gap-2.5 px-4 py-2.5 bg-black text-white font-semibold rounded-lg hover:bg-gray-900 transition-colors duration-200 cursor-pointer hover:scale-105;
   @apply active:opacity-30;
}

.landing-button-join-list {
  @apply flex items-center gap-2.5 px-4 py-2.5 bg-pink-600 text-white font-semibold rounded-lg hover:bg-pink-700 transition-colors duration-200 cursor-pointer hover:scale-105;
  @apply active:opacity-30;
}

.landing-button-join-list:hover {
  background-color: #FC466B;
  color: white;
}

.landing-button-icon-join:hover {
  fill: white;
}

.featured-games-main {
  @apply text-white py-2 px-4  bg-black;
}

.featured-games-flex {
  @apply flex flex-row items-center justify-between gap-4 ml-12 mr-20 mt-25 rounded-lg pl-2.5;
}

.featured-view-con {
  @apply flex items-center px-4 py-2.5 text-sm cursor-pointer;
}

.featured-view-arrow {
  @apply w-4 h-5;
  @apply active:opacity-50;
}

.featured-view-list {
  @apply flex items-center px-4 py-2.5 text-white font-semibold cursor-pointer;
  @apply hover:underline transition-all duration-200;
  @apply active:opacity-50
}


.featured-title {
  @apply text-3xl font-bold mb-6 cursor-pointer hover:text-white transition-colors duration-200 active:opacity-30 items-center self-center;
}

.featured-game-image-file {
  @apply w-55 h-60;
}

.featured-games-con {
  @apply flex flex-row justify-center items-start py-16 mx-10 gap-5 max-w-screen-xl;
  
}

.featured-games-list {
  @apply flex flex-col items-start gap-3 py-5 px-2 rounded-lg truncate w-80 flex-wrap cursor-pointer bg-gray-950;
  @apply hover:scale-110 transition transition-transform;
}

.featured-games-title {
  @apply text-xl font-semibold;
}

.featured-games-genre {
  @apply text-sm text-gray-400
}

.featured-games-buttons-con {
  @apply flex flex-col gap-2 justify-between items-center self-center;
}

.featured-game-view-game {
  @apply flex flex-row gap-2 text-sm justify-between items-center bg-blue-600 py-2.5 px-2.5 rounded-lg cursor-pointer hover:bg-blue-800 active:opacity-60;
}

.featured-game-add-game {
  @apply flex flex-row gap-1 text-sm justify-between items-center bg-pink-700 py-2.5 px-2.5 rounded-lg cursor-pointer hover:bg-pink-800 active:opacity-60; 
}
